
*{
  box-sizing: border-box;
}
.container {
  width: 90vw;
  margin: 0 auto;
}

#app{
  margin-top: 40px;
}
.hd{
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
 }
 .hb{
   font-size: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
 }
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.column{
  width: 20vw;
  background-color: aliceblue;
  margin: 10px;
  height: 150px;

  
}
.up{
  text-align: right;
}
.up i{
 border: 1px solid gray;
}
.down{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.down .box{
   background-color:darkgray;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.down .title{
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color:darkgray;
  font-weight: 700;
}
.btn{
  margin-top: 10px;
  margin-left: 32px;
}