
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul,ol {
  list-style-type: none;
}
.clr {
  clear: both;
}
nav {
  background-color:#f7f6ff;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #eaeaed;
}

.logo {
  width: 30vw;
  float: left;
  height: 30px;
}
.logo img{
  padding-top: 34px;
  width: 30px;

}
.menu {
  width:60vw;
  float: left;
  text-align: right;
}
.menu ul li {
  display: inline-block;
  padding-left: 44px;
}
.menu ul li a {
  line-height: 90px;
  font-size: 12px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}
.menu ul li.active a {
 
  color: #69da81;
 
}
.container {
  width: 90vw;
  margin: 0 auto;
}

#app{
  margin-top: 40px;
}
.hd{
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  color: #503a87;
 }
 .hb{
   font-size: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
 }
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.column{
  width: 20vw;
  background-color: aliceblue;
  margin: 10px;
  height: 150px; 
}
.brd{
  border: 3px solid #69da81;
}
.vis{
  visibility: hidden;
}
.up{
  text-align: right;
}
.up i{
 border: 3px solid #69da81;
 color:#69da81

}
.down{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.down .box{
   background-color:#462f7f;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box i{
  color: white;
}
.down .title{
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color:darkgray;
  font-weight: 700;
}
.btn{
  margin-top: 10px;
  margin-left: 32px;
  border: none;
  background-color:#69e689;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
}